<script src="<%= htmlWebpackPlugin.files.chunks['js-3d-viewer'].entry %>"></script>
<script>
    var app = angular.module('TestModule', ['js-3d-viewer'])
        .controller('TestController', function ($scope, threeDimensionalViewerService) {
            $scope.disposeViewer = function(){
                threeDimensionalViewerService.disposeViewer();
            }
        });

</script>
<div ng-app="TestModule">
    <div ng-controller="TestController">
        <three-dimensional-viewer file="assets/sample.stl" window-width="500" window-height="500" scale="0.5" show-controls="true"></three-dimensional-viewer>
        <button ng-click="disposeViewer()">Clear Scene</button>
    </div>
</div>